header {
  background: var(--secondary-background-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  z-index: 1;
}

.header-with-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header a {
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white !important;
}

.search-bar-text {
  padding: 0.5em 1.5em;
  border-radius: 50px 0px 0px 50px;
  border: 0;
  background: var(--primary-background-color);
  width: 350px;
}

.search-bar-button {
  margin-left: -5%;
  box-shadow: none;
  border-left: 1px solid;
  border-radius: 50%;
}

.logo-title-divider {
  height: 0;
  width: 40px;
  border: 2px solid #B1BCCB;
  transform: rotate(-90deg);
}

.header-dropdown-and-cart {
  gap: 0.5em;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
