header {
  background: var(--secondary-background-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  border-bottom: 1px solid #F0F2F5;
}

.flex-centered-container {
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white !important;
}

.text-logo {
  font-family: var(--title-font-family);
  color: var(--neutral-color-dark);
  text-shadow: none;
}

.search-bar-text {
  padding: 0.5em 1.5em;
  border-radius: 50px;
  border: 0;
  background: var(--primary-background-color);
  width: 350px;
}

.icon-inside-button {
  font-family: FontAwesome;
  padding: 0px 12px;
}

.icon-with-text-button {
  margin-right: 5px;
}

.icon-only-button {
  background: transparent;
  color: var(--primary-color);
  box-shadow: none;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.icon-only-button:hover {
  background: transparent;
  color: var(--primary-color-dark);
}

.icon-only-button-icon {
  font-size: 2em;
  position: relative;
}

.icon-only-button-text {
  color: white;
  position: absolute;
  text-align: center;
  margin-left: -53%;
  margin-top: 10%;
  font-size: 0.5em;
}

.logo-title-divider {
  height: 0;
  width: 40px;
  border: 2px solid #B1BCCB;
  transform: rotate(-90deg);
}

.header-dropdown-and-cart {
  gap: 0.5em;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}
