.home-page {
  height: 400px;
  background: no-repeat url("../images/site/background-book.jpeg");
  background-size: cover;
  display: flex;
}

.welcome-text {
  width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.welcome-text h2 {
  color: var(--neutral-color-dark);
  font-size: 3.5em;
  font-family: 'Proza Libre';
  font-weight: 100;
}

.welcome-text p {
  color: var(--neutral-color);
  font-size: 1.5em;
  font-weight: 100;
}

.category-image-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.category-image-items a {
  text-align: center;
  cursor: pointer;
}

.category-image-items div {
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.5); /* last # is percent opacity */
  color: white;
  transform: translateY(-2.25em);
  margin-bottom: -2em;
}

.shop-button {
  width: 15em;
  margin-top: 2rem;
}
